In [1]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
df = pd.read_csv('MVP_Data.csv')

C:\Users\Dylan\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df3 = df.groupby('origin').mean()
df3 = df3.sort_values(by = 'arr_delay')
df3['origin_rank'] = [x + 1 for x in range(len(df3['arr_delay']))]
df3['origin'] = df3.index
df3 = df3[['origin_rank','origin']]
df3 = df3.reset_index(drop = True)
df = pd.merge(df,df3, on = 'origin')


df3 = df.groupby('dest').mean()
df3 = df3.sort_values(by = 'arr_delay')
df3['dest_rank'] = [x + 1 for x in range(len(df3['arr_delay']))]
df3['dest'] = df3.index
df3 = df3[['dest_rank','dest']]
df3 = df3.reset_index(drop = True)
df = pd.merge(df,df3, on = 'dest')


df3 = df.groupby('tail_num').mean()
df3 = df3.sort_values(by = 'arr_delay')
df3['tail_num_rank'] = [x + 1 for x in range(len(df3['arr_delay']))]
df3['tail_num'] = df3.index
df3 = df3[['tail_num_rank','tail_num']]
df3 = df3.reset_index(drop = True)
df = pd.merge(df,df3, on = 'tail_num')


df3 = df.groupby('unique_carrier').mean()
df3 = df3.sort_values(by = 'arr_delay')
df3['unique_carrier_rank'] = [x + 1 for x in range(len(df3['arr_delay']))]
df3['unique_carrier'] = df3.index
df3 = df3[['unique_carrier_rank','unique_carrier']]
df3 = df3.reset_index(drop = True)
df = pd.merge(df,df3, on = 'unique_carrier')

In [4]:
df['sdomt_gallons'] = df['sdomt_gallons'] // 100000
df['tdomt_gallons'] = df['tdomt_gallons'] // 100000
df['ts_cost'] = df['ts_cost'] // 1000000
df['tdomt_cost'] = df['tdomt_cost'] // 1000000

In [5]:
df['day'] = (pd.to_datetime(df['fl_date'], format='%Y-%m-%d')).dt.day

In [6]:
df_train = df[['sdomt_gallons','tdomt_gallons','ts_cost','tdomt_cost','origin_rank','dest_rank','tail_num_rank','unique_carrier_rank','distance','day','arr_delay']]

In [7]:
df_train.dropna(inplace=True)

C:\Programming\Anaconda\envs\GeoPandasModule\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [8]:
df_train.head()

,sdomt_gallons,tdomt_gallons,ts_cost,tdomt_cost,origin_rank,dest_rank,tail_num_rank,unique_carrier_rank,distance,day,arr_delay
0,539.0,539.0,142.0,114.0,201,279,5804,11,413.0,1,12.0
1,539.0,539.0,142.0,114.0,305,279,5804,11,187.0,3,3.0
2,539.0,539.0,142.0,114.0,305,279,5804,11,187.0,4,-11.0
3,539.0,539.0,142.0,114.0,295,279,5804,11,867.0,5,243.0
4,539.0,539.0,142.0,114.0,130,279,5804,11,369.0,5,255.0

In [9]:
XNB = df_train.drop(['arr_delay'], axis=1)  

yNB = df_train['arr_delay'].astype('int')

In [10]:
XNB_train, XNB_test, yNB_train, yNB_test = train_test_split(XNB, yNB, test_size = 0.2, random_state=42)

In [11]:
model1 = GaussianNB()

In [12]:
model1.fit(XNB_train,yNB_train)

GaussianNB()

In [13]:
yNB_pred = model1.predict(XNB_test)

In [14]:
from sklearn import metrics
print('Accuracy:',metrics.accuracy_score(yNB_test,yNB_pred)*100)

Accuracy: 0.7932510702593805

In [21]:
model1.score(XNB_train,yNB_train)

0.009659489504074253