In [1]:
import pandas as pd
import numpy as np
import psycopg2

In [9]:
conn = psycopg2.connect(host="mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com", 
                        port=5432, database="mid_term_project", 
                        user="lhl_student",
                        password="lhl_student")
cur = conn.cursor()

In [4]:
cur.execute("""SELECT * FROM passengers where year between 2018 and 2019 and month = 1 """)
df = cur.fetchall()
colnames = [x[0] for x in cur.description]

In [7]:

df = pd.DataFrame(df, columns = colnames)

In [9]:
df['air_time'].max()

120290.0

In [11]:
df[df['passengers']  >  df['seats']]

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
1878,0.0,1.0,64800.0,235.0,236.0,0.0,0.0,1360.0,210.0,186.0,...,VE,Venezuela,6,625,1,2019,1,3,L,IU
42053,0.0,4.0,4400.0,23.0,24.0,0.0,0.0,53.0,142.0,130.0,...,US,United States,0,35,3,2018,1,1,L,DU
45036,0.0,1.0,31467.0,146.0,148.0,0.0,0.0,103.0,0.0,0.0,...,US,United States,6,694,1,2018,1,1,F,DF
47193,0.0,1.0,108632.0,320.0,494.0,0.0,0.0,740.0,0.0,0.0,...,US,United States,6,627,1,2018,1,2,F,DF
48916,0.0,1.0,37200.0,180.0,181.0,0.0,0.0,1333.0,204.0,198.0,...,US,United States,6,694,1,2018,1,3,L,IU
48923,0.0,1.0,37200.0,180.0,181.0,0.0,0.0,2063.0,252.0,234.0,...,AW,Aruba,6,694,1,2018,1,5,L,IU
63983,10.0,10.0,364000.0,1800.0,1806.0,0.0,0.0,1189.0,1600.0,1401.0,...,US,United States,6,694,1,2018,1,3,F,DU

In [34]:
df.isnull().values.any()

False

In [12]:
df.to_csv(path_or_buf = 'PassengersRawData.csv',columns = colnames, index = False)

In [10]:
cur.execute("""SELECT * FROM flights where fl_date between 2018-01-1 and 2018-01-07 or fl_date between 2019-01-1 and 2019-01-07 """)
df2 = cur.fetchall()
colnames = [x[0] for x in cur.description]
df2 = pd.DataFrame(df2, columns = colnames)

UndefinedFunction: operator does not exist: text >= integer
LINE 1: SELECT * FROM flights where fl_date between 2018-01-1 and 20...
                                            ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

In [ ]:
colnames, df2.fl_date

In [4]:
df2.to_csv(path_or_buf = 'FlightsRawData.csv',columns = colnames, index = False)

In [6]:
df2

Empty DataFrame
Columns: [fl_date, mkt_unique_carrier, branded_code_share, mkt_carrier, mkt_carrier_fl_num, op_unique_carrier, tail_num, op_carrier_fl_num, origin_airport_id, origin, origin_city_name, dest_airport_id, dest, dest_city_name, crs_dep_time, dep_time, dep_delay, taxi_out, wheels_off, wheels_on, taxi_in, crs_arr_time, arr_time, arr_delay, cancelled, cancellation_code, diverted, dup, crs_elapsed_time, actual_elapsed_time, air_time, flights, distance, carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay, first_dep_time, total_add_gtime, longest_add_gtime, no_name]
Index: []

[0 rows x 42 columns]